{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.header'|trans }} - {{ app.user }}{% endblock %}

{% block body %}

    <div class="row mt-4">
        {% include 'profile/index/personal_data.html.twig' with {'colSize' : 4} %}

        {% include 'profile/index/user_info_table.html.twig' with {'colSize' : 8} %}
    </div>

    <div class="row">
        {% include 'profile/index/user_links_table.html.twig' with {'colSize' : 7} %}

        {% include 'profile/index/shorten_link_form.html.twig' with {'colSize' : 5} %}
    </div>

    <div class="row">
        {% include 'profile/index/delete_profile_link.html.twig' %}
    </div>

{% endblock %}
