<section class="text-center text-lg-end my-4">
    <small>
        <a href="{{ path('app_profile_delete') }}"
           class="text-black-50 text-decoration-none">{{ 'profile.delete.delete_account'|trans }}</a>
    </small>
</section>