<section class="col-lg-{{ colSize }} mt-4">
    <div class="component">
        <small class="h5">{{ 'profile.your_links'|trans }}</small>
        {{ include('components/table/urls_table.html.twig',{urls: app.user.urls}) }}
    </div>
</section>
