/**/
/* essential */
/**/
body {
    background-color: #f8f8f8;
    color: #151e2a;
    font-family: "Inter", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}


/**/
/* components */
/**/
.component {
    border: 2px solid #00000014;
    background-color: white;
    border-radius: 1rem;
    padding: 2.5rem;
    width: 100%;
    height: 100%;
}

.long-url {
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
    position: relative;
}

.long-url::after {
    content: "";
    display: block;
    background: linear-gradient(90deg, transparent, white);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.table-options {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
}

.option {
    opacity: 0.5;
}

.option:hover {
    opacity: 1;
}

.svg-delete {
    content: url('../../assets/images/svg/x.svg');
    transform: scale(1.15);
}

.svg-delete:hover{
    filter: invert(50%) sepia(1) saturate(50) hue-rotate(350deg);
}

.svg-refresh {
    content: url('../../assets/images/svg/refresh-ccw.svg');
    transform: scale(0.9);
}

/**/
/* tables */
/**/
.user-info tr > td:first-child {
    padding-block: 0.9rem;
    font-weight: bold;
}

td, th {
    vertical-align: middle;
}

tr:last-child td, tr:last-child th {
    border-bottom-width: 0;
}