<!doctype html>
<html lang="en">
<head>

</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <h1 class="text-center">Nice to meet you {{ user }}!</h1>
            <p class="block">
                Welcome to <strong>the Symf Community</strong>, we can't wait to see what long link you want to shorten.
                In order to activate your account, click the link below:
            </p>
            <a href="{{ activationLink }}" target="_blank">{{ activationLink }}</a>

        </div>
    </div>
</div>
</body>
</html>
