{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} my-3" role="alert">
            {{ message|trans|raw|markdown_to_html }}
        </div>
    {% endfor %}
{% endfor %}
