<div class="py-3">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message|raw|markdown_to_html }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
