{% extends 'base.html.twig' %}

{% block title %}
    {% trans %} login.header {% endtrans %}
{% endblock %}

{% block body %}
    <div class="container m-auto">
        <div class="row g-3 col-lg-6 mx-auto my-5">

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security')|raw }}
                </div>
            {% endif %}

            <div class="component">
                    <h1 class="mb-7">
                        {% trans %} login.sign_in_to_your_account {% endtrans %}
                    </h1>
                {{ form(loginForm) }}
            </div>
            <div class="my-3">
                <small>Don't have an account?</small>
                <a href="{{ path('app_register') }}" class="text-warning text-sm font-semibold">Sign up</a>
            </div>
        </div>
    </div>
{% endblock %}
