{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="container">
        <div class="row g-3 col-6 mx-auto my-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <h1>Login</h1>

            {{ form(loginForm) }}
        </div>
    </div>
{% endblock %}
