<ul class="nav col-12 col-lg-4 my-2 justify-content-center d-none d-lg-flex">
    {% for menuItem in knp_menu_get('main') %}
      <li><a href="{{ menuItem.uri }}" class="nav-link px-2">{{ menuItem.name }}</a></li>
    {% endfor %}
</ul>
