<ul class="nav col-12 col-lg-4 my-2 justify-content-center d-none d-lg-flex">
        <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="features" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="pricing" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="faq" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="about" class="nav-link px-2 text-white">About</a></li>
</ul>