{% extends('base.html.twig') %}

{% block title %} Oh no! Are you lost? {% endblock %}

{% block head %}
    <style>
        .error-404-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="error-404-content">
        <h1 class="small text-black-50 fw-bold">{{ status_code}} - {{ status_text }}</h1>
        <h2 class="h1 mt-2 fw-bolder">Are you lost?</h2>
        <a href="{{ path('app_home') }}" class="btn btn-outline-dark mt-3 py-2 px-5">Go to homepage</a>
    </div>
{% endblock %}
